.searchinput{
  height: 30px;
  border-color: #cbd7da;
  display: inline;
}
#invoice-num{
  padding-top: 0.5 rem;
  font-weight: bold;
}
.upper-part{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
margin-top:3rem;
margin-left:5.5rem;
}
.btncxadd{
  margin-right:5.5rem;
  width:7rem;
  background-color: rgb(235, 11, 3);
  color: white;
  font-weight: bold;
}

