<p>fill-invoice works!</p><div class="upper-part">
  <div class="input-group">
    <p id="invoice-num">Customer Name</p>
   <input type="text" class="searchinput rounded" placeholder="Customer Name" />
<datalist>
  <option>
    
  </option>
</datalist>
 </div>
 </div>

 <!-- <input
 type="text"
 class="input-search"
 id="company"
 [(ngModel)]="id1"
 #firstselect
 (change)="categorytextbox(firstselect.value)"
 name="companynames"
 placeholder="Company name"
 list="companynames"
/>
<!-- <datalist id="companynames">
 <option
   *ngFor="let company of companiesfirst"
   [value]="company.companyName"
 >
   {{ company.companyName }}
 </option>
</datalist> -->
